<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin=anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<title></title>
</head>
<body>
{%extends 'base.html'%}
{%block content%}
<div class="jumbotron jumbotron-fluid" style="background-color:#B0C1D9">
  <div class="container">
    <h1 class="display-4">The Team</h1>
    <p class="lead">
    
    </p>
  </div>
</div>
<div style = "margin-left: 100px; margin-right: 100px;">
	<p>Robbie: Hi, I'm a Data Scientist with a background in Biochemistry. I enjoy using Data Science and machine learning in a practical and applicable way to solve interesting problems. For other applications of machine learning check out my github page and blog</p>
    <p>Tom:</p>
    

	<ul>
		<li>
			<a href="https://github.com/Robbie632">Robbie's Github page</a>
		</li>	
	</ul>

</div>
{%endblock%}
</body>
</html>